{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{%static 'js/registration.js'%}" defer></script>
</head>
<body>
    <form class="form">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" placeholder="username" id="username"><br>
        <label for="email">Email:</label>
        <input type="email" placeholder="email" id="email"><br>
        <label for="password">Create a password:</label>
        <input type="password" placeholder="password" id="password"><br>
        <label for="repeat-password">Repeat the password:</label>
        <input type="password" placeholder="password" id="repeat-password"><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>